
/*-------------------------------
             General
-------------------------------*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    max-width: 280px;
}

/*-------------------------------
            Table
-------------------------------*/
.noOverFlowText {
    overflow: hidden;
    white-space: nowrap;
}

.displayFullNote {
    table-layout: fixed;
    word-wrap: break-word;
}


/*-------------------------------
           Tool tip - bootstrap override
-------------------------------*/

/*-------------------------------
           Sign in - style.css override
-------------------------------*/

/*-------------------------------
           Button
-------------------------------*/

/*-------------------------------
            Jquery UI - jquery-ui.css override
-------------------------------*/

.ui-widget-header {
    border: 0px !important;
    background: none;
}

.ui-widget-content {
    border: 0px !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 15px !important;
    margin: 0;
    background-color: #65CEA7;
    color: white;
    font-size: large;
    font-weight: normal;
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
}
    .ui-dialog .ui-dialog-buttonpane {
        border-width: 0px;
    }

.ui-dialog-titlebar > .ui-button {
    border: none;
    margin-right: 10px;
    background-color: none;
}

.ui-corner-all ul.p-info .title {
    border-bottom-left-radius: 0px;
}

ul.p-info .desk {
    width: 50% !important;
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0px !important;
}



/*-------------------------------
            Data table - dataTable.bootstrap.css override
-------------------------------*/

/*-------------------------------
            Dropzone - dropzone.css override
-------------------------------*/

.dropzone-file-area {
    height: 100px !important
}

/*-------------------------------
             Misc
-------------------------------*/

.admin-align-middle {
    display: inline-block;
    padding-left: 10px;
    padding-top: 7px;
    margin-bottom: 0;
}


/*-------------------------------
       Responsive design
-------------------------------*/

/*-------------------------------
            Ion Range Slider - ion.rangeSlider.css override
-------------------------------*/

