
/*-------------------------------
             General
-------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
}
   


/*-------------------------------
             Custom
-------------------------------*/

.admin-align-middle {
    display: inline-block;
    padding-left: 10px;
    padding-top: 7px;
}

.user-profile-edit-margin {
    margin-bottom: -20px;
}

.account-btn-margin {
    margin-top: -10px !important;
}

.alert-custom {
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.gray-line {
    border-top: 1px solid #eee;
}

.order-summary-buttom-margin {
    margin-bottom: -5px;
}

.center-column {
    float: none;
    margin: auto;
}

.readonly-mouse-cursor {
    cursor: default !important;
}

.displayFullNote {
    table-layout: fixed;
    word-wrap: break-word;
}

.btn-left-margin {
    margin-left: 7px;
}

.alert-danger-deletion h3 {
    margin-top: 7px !important;
}

.edit-bottom-margin .form-group {
    margin-bottom: -5px;
}

.edit-bottom-default-margin {
    margin-bottom: 15px !important;
}

.module-sample-size {
    max-width: 128px;
    max-height: 64px;
}

module-sample-table-border {
    margin-bottom: 10px;
}

.module-sample-table-border th img {
    border: solid 2px gray;
    text-align: center;
}

.promo-modal-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.buttons-margin {
    margin-top: 150px;
}

/* 500 page error */
.page-500 {
    text-align: center;
}

    .page-500 .number {
        display: inline-block;
        letter-spacing: -10px;
        line-height: 128px;
        font-size: 128px;
        font-weight: 300;
        color: #ec8c8c;
        text-align: right;
    }

    .page-500 .details {
        margin-left: 40px;
        display: inline-block;
        text-align: left;
    }


/*-------------------------------
            Table
-------------------------------*/

.noOverFlowText {
    overflow: hidden;
    white-space: nowrap;
}

.displayFullNote {
    table-layout: fixed;
    word-wrap: break-word;
}

/*-------------------------------
            iCheck - flat.css override
-------------------------------*/

.icheckbox_flat-blue.checked.disabled {
    background-position: -22px 0 !important;
}

/*-------------------------------
            Dropzone - dropzone.css override
-------------------------------*/

.dropzone-file-area {
    min-height: 200px !important
}

.dropzone-area-margin {
    margin: 20px 40px 40px 40px !important;
}

/*-------------------------------
           Tool tip - bootstrap override
-------------------------------*/

/*-------------------------------
           Jquery UI - jquery-ui.css override
-------------------------------*/

/*-------------------------------
           Data table - dataTable.bootstrap.css override
-------------------------------*/

/*-------------------------------
       Responsive design
-------------------------------*/
