@{
    ViewData["Title"] = "Error";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number font-red"> 500 </div>
            <div class=" details">
                <h3>Error</h3>
                <p>
                    An error occurred while processing your request
                    <br />
                </p>
                <p>
                    <a asp-area=""
                       asp-controller="Home"
                       asp-action="Index"
                       class="btn red btn-outline">Return home</a>
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>

