@model ImpactLeapApp.Models.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Create User";
}

@{
    var passwordRules = "<b>Your password must contain characters from the following categories: </b><br />"
                + " - English uppercase letters, <br />"
                + " - English lowercase letters, <br />"
                + " - Numbers (0 - 9), <br />"
                + " - Non-alphanumeric characters (!, $, #, etc.).";
}

<form asp-action="Create">

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light bordered">

        <div class="portlet-title">
            <div class="caption ">
                <span class="caption-subject bold font-yellow-casablanca"> Create User </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-horizontal edit-bottom-margin">

                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control input-medium" />
                        <span asp-validation-for="Email" class="text-danger admin-align-middle"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control input-medium" />
                        <span asp-validation-for="FirstName" class="text-danger admin-align-middle"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control input-medium" />
                        <span asp-validation-for="LastName" class="text-danger admin-align-middle"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="CompanyName" class="form-control input-medium" />
                        <span asp-validation-for="CompanyName" class="text-danger admin-align-middle"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" type="password" placeholder="Password" class="form-control input-medium"
                               data-toggle="tooltip"
                               data-placement="right"
                               data-html="true"
                               title=@passwordRules>
                        <span asp-validation-for="Password" class="text-danger admin-align-middle"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" type="password" placeholder="Re-type Password" class="form-control input-medium">
                        <span asp-validation-for="ConfirmPassword" class="text-danger admin-align-middle"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="UserRole" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="UserRole" class="form-control input-medium">
                            <option value="1">Mananger</option>
                            <option value="2">Member</option>
                        </select>
                    </div>
                </div>

                <br /><br />
                <a asp-action="Index" class="btn blue-chambray" role="button">
                    User Dashboard
                </a>

                <input type="submit" value="Create" class="btn green btn-left-margin" />
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                content: function () {
                    return $(this).prop('title');
                },
                position: {
                    at: "right top-15"
                },
            });
        });
    </script>
}
