@model SetPasswordViewModel
@{
    ViewData["Title"] = "Admin / Reset Password";
}

@{
    var passwordRules = "<b>Your password must contain characters from the following categories: </b><br />"
            + " - English uppercase letters, <br />"
            + " - English lowercase letters, <br />"
            + " - Numbers (0 - 9), <br />"
            + " - Non-alphanumeric characters (!, $, #, etc.).";
}

<!-- BEGIN PROFILE CONTENT -->
<div class="row">
    <div class="col-md-6 center-column">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">Reset Password</span>
                </div>
            </div>

            <div class="portlet-body form">
                <form asp-controller="ApplicationUser" asp-action="ResetPasswordAdmin" id="changePasswordForm">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                @Html.DisplayNameFor(Model => Model.NewPassword)
                            </label>
                            <div class="col-md-7">
                                <input asp-for="NewPassword" class="form-control"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       data-html="true"
                                       title=@passwordRules />
                                <span asp-validation-for="NewPassword" class="text-danger admin-align-middle"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                @Html.DisplayNameFor(Model => Model.ConfirmPassword)
                            </label>
                            <div class="col-md-7">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger admin-align-middle"></span>
                            </div>
                        </div>

                        <button class="btn green-meadow"
                                type="submit"
                                id="saveButton"
                                onclick="submitChangePasswordForm">
                            Save
                        </button>

                        <a class="btn btn-default btn-left-margin"
                           asp-action="Index">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                position: {
                    at: "right top-15"
                },
            });
        });

        function submitChangePasswordForm() {
            $("#changePasswordForm").submit();
        }

    </script>

}
